.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    border-bottom: 0.3rem solid black;

}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
}
.logo{
    font-size: 5rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.archive{
    border-left:0.3rem solid black ;
    font-size: 3.5rem;
   
    width: 20vw;
}
.archive a{
    font-family: 'Times New Roman', Times, serif;
    font-weight:900 ;
}