.App {
  text-align: center;
  background-color: #FFFF00;
  min-height: 100vh;
}
.habitsContainer{
  display: grid;
  grid-template-columns: repeat(3,30vw);
  grid-gap: 2rem;
  align-items: center;
  justify-content: space-around;
}
form{
  height: 40vh;
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(2,30vw);
}